body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-width: 300px;
  background-color: #0f1118; }

#logo {
  margin-bottom: 10px; }

.main {
  padding: 10px; }

.datastore {
  height: 100%; }
  .datastore body {
    height: 100%; }
  .datastore .loginbox {
    width: 300px;
    height: 220px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
    border-radius: 4px; }

.navigations {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .navigations li {
    margin-top: 1px;
    border-radius: 4px; }
  .navigations li:hover {
    background-color: #fbfbfc;
    color: #20252f; }
    .navigations li:hover a {
      color: #20252f; }
  .navigations li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%; }

.dark {
  background-color: #20252f;
  color: #b1b6c1; }
  .dark a {
    color: #b1b6c1; }
  .dark .btn-danger {
    background-color: #27b3ad;
    border-color: #27b3ad; }
  .dark .form-control:focus {
    border-color: #27b3ad; }

/* CSS fix for angular-ui explained here: https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }
