/*fbfbfc*/
/* Generic styles */
body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-width: 300px;
  background-color: #0f1118;
  margin: 0;
  padding: 0; }

h1, h2 {
  font-size: 20px;
  margin: 0; }

#logo {
  margin-bottom: 10px; }

.loginbox span.pull-right {
  line-height: 31px; }

.navigations {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .navigations li {
    margin-top: 1px;
    border-radius: 4px; }
  .navigations li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%; }

.hideinputcharakter label {
  font-weight: inherit;
  width: 45px; }

.hideinputcharakter .form-control {
  width: 250px;
  display: inline-block; }

.hideinputcharakter .form-control:not(:focus) {
  background-color: transparent;
  border: 0;
  color: inherit;
  box-shadow: none !important; }

.dark {
  background-color: #151f2b;
  color: #b1b6c1; }
  .dark a {
    color: #b1b6c1; }
  .dark h2 {
    padding: 10px 10px; }
  .dark .btn-danger {
    background-color: #2dbb93;
    border-color: #2dbb93; }
  .dark .form-control:focus {
    border-color: #2dbb93; }
  .dark .navigations li:hover {
    background-color: #fff;
    color: #151f2b; }
    .dark .navigations li:hover a {
      color: #151f2b; }
  .dark .navigations li.active {
    background-color: #2dbb93; }
    .dark .navigations li.active a {
      color: #fff; }

/* All Tree Changes */
.tree::before {
  bottom: 23px;
  border-color: #151f2b;
  top: 0; }

.tree {
  overflow-x: visible;
  overflow-y: visible; }
  .tree .tree-item.selected,
  .tree .tree-folder .tree-folder-header.selected {
    background-color: inherit;
    border-color: #fff;
    border-radius: 4px; }
  .tree .tree-folder .tree-folder-header.selected:hover,
  .tree .tree-item.selected:hover {
    background-color: #F0F7FC;
    border-radius: 4px; }
  .tree .tree-folder::before,
  .tree .tree-item::before {
    border-top-color: #151f2b;
    top: 21px; }
  .tree .tree-item,
  .tree .tree-folder .tree-folder-header {
    height: 34px;
    line-height: 34px;
    padding-right: 50px;
    color: #151f2b; }
    .tree .tree-item a,
    .tree .tree-folder .tree-folder-header a {
      color: #151f2b; }
  .tree .tree-item,
  .tree .tree-folder .tree-folder-title {
    position: relative; }
  .tree .node-dropdown {
    position: absolute;
    right: 5px;
    top: 5px; }
  .tree .dropdown-button-menu {
    right: 0;
    left: auto; }
  .tree .tree-folder .tree-folder-content:before {
    top: -9px;
    bottom: 23px;
    left: -14px;
    border-color: #151f2b; }

/* for the fixed dropdown menu that pops when someone right clicks an entry*/
.droppdown-rightclick {
  margin-left: -265px;
  margin-top: -50px;
  z-index: 20; }

.position-fixed {
  position: fixed; }

.expand15 {
  margin: -15px;
  padding: 15px; }

.dropdown-menu .fa {
  margin-right: 10px;
  width: 15px; }

/* classes for error handling */
.form-group .help-block {
  display: none; }

.form-group.has-error .help-block {
  display: block; }

/* Bootstrap fixes */
.modal-body .tabset_expand {
  margin-left: -20px;
  margin-right: -20px; }
  .modal-body .tabset_expand .nav-tabs li:first-child {
    margin-left: 20px; }
  .modal-body .tabset_expand .tab-content {
    padding: 20px 20px 5px 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px; }

/* CSS fix for angular-ui explained here: https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }
