<form name="modalShowRecoverycodeForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'DELETE_ACCOUNT' | translate}}</h3>
    </div>
    <div class="modal-body">

        <div class="alert alert-danger">
            <strong>{{'DANGER' | translate}}!</strong> {{'YOU_ARE_ABOUT_TO_DELETE_YOUR_ACCOUNT' | translate}}
        </div>

        <div ng-if="form.show_password">
            <label for="password">{{'YOUR_PASSWORD_AS_CONFIRMATION' | translate}}:</label>
            <input type="password" class="form-control" id="password" ng-model="form.password">
        </div>


        <div class="form-group alert alert-danger" ng-repeat="e in errors">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="delete_account();">{{'DELETE' | translate}}</button>
        <button class="btn" type="button" ng-click="close();">{{'CLOSE' | translate}}</button>
    </div>
</form>