<form name="modalMoveEntryForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{ title | translate }}</h3>
    </div>
    <div class="modal-body">

        <div ng-controller="ChooseSecretsCtrl" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{'CHOOSE_SECRET' | translate}}</h3>
            </div>
            <div class="panel-body">
                <div class="expand15">

                    <!--
                    <div>
                        <span ng-repeat="b in breadcrumbs track by $index">
                            &gt; {{b}}
                        </span>
                    </div>
                    -->

                    <div tree-view="structure" tree-view-options="options" ng-if="structure.loaded && (structure.data.folders || structure.data.items)">

                    </div>

                    <div ng-if="structure.loaded && !(structure.data.folders || structure.data.items)">
                        {{'NO_FOLDER_SO_FAR' | translate}}
                    </div>

                    <div ng-if="!structure.loaded">

                        <div class="big-font-icon-and-msg">
                            <i style="
                           display: inline-block;
                           font: normal normal normal 14px/1 FontAwesome;
                           text-rendering: auto;
                           font-size: 3em;
                           text-align: center;
                           animation: fa-spin 2s infinite linear;
                           vertical-align: middle;">&#xf110;</i>
                            {{'LOADING' | translate}}
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
        <button class="btn btn-primary" type="submit" ng-click="save()">{{'OK' | translate}}</button>
    </div>
</form>