<form name="modalEditAPIKeyForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'EDIT_API_KEY' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && modalEditAPIKeyForm.title.$invalid]">
            <input type="text" name="title" class="form-control" id="folderName" placeholder="{{'TITLE' | translate}}" ng-model="title" required autofocus>
            <p class="help-block" ng-show="submitted && modalEditAPIKeyForm.title.$error.required">{{'TITLE_IS_REQUIRED' | translate}}</p>
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="restrict_to_secrets"> {{'SECRETS_ONLY' | translate}}?
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="allow_insecure_access"> {{'ALLOW_INSECURE_USAGE' | translate}}?
        </div>
        <div class="form-group alert alert-warning" ng-if="!restrict_to_secrets">
            <strong>{{'WARNING' | translate}}!</strong> {{'API_KEY_NOT_RESTRICTED_TO_SECRETS_WARNING' | translate}}
        </div>
        <div class="form-group alert alert-warning" ng-if="allow_insecure_access">
            <strong>{{'WARNING' | translate}}!</strong> {{'API_KEY_INSECURE_USAGE_WARNING' | translate}}
        </div>

        <div class="container-fluid">
            <uib-tabset class="tabset_expand">
                <uib-tab heading="{{'DETAILS' | translate}}">

                    <div class="form-group">
                        {{'API_KEY_DETAIL_EXPLANATION' | translate}}
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="api-key-id" class="col-sm-4 control-label">API_KEY_ID</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="password" class="form-control" id="api-key-id" placeholder="API_KEY_ID"  ng-model="api_key.id" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="toggle_input_type('api-key-id')">
                                            <i class="fa fa-eye-slash"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="api-key-private-key" class="col-sm-4 control-label">API_KEY_PRIVATE_KEY</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="password" class="form-control" id="api-key-private-key" placeholder="API_KEY_PRIVATE_KEY"  ng-model="api_key.private_key" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="toggle_input_type('api-key-private-key')">
                                            <i class="fa fa-eye-slash"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="api-key-secret-key" class="col-sm-4 control-label">API_KEY_SECRET_KEY</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="password" class="form-control" id="api-key-secret-key" placeholder="API_KEY_SECRET_KEY"  ng-model="api_key.secret_key" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="toggle_input_type('api-key-secret-key')">
                                            <i class="fa fa-eye-slash"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="server-url" class="col-sm-4 control-label">SERVER_URL</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="server-url" placeholder="SERVER_URL"  ng-model="server.url" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="server-public-key" class="col-sm-4 control-label">SERVER_PUBLIC_KEY</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="server-public-key" placeholder="SERVER_PUBLIC_KEY"  ng-model="server.public_key" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="server-signature" class="col-sm-4 control-label">SERVER_SIGNATURE</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="server-signature" placeholder="SERVER_SIGNATURE"  ng-model="server.signature" readonly>
                            </div>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab heading="{{'SECRETS' | translate}}">

                    <button type="submit" class="btn btn-primary btn-primary pull-right" ng-click="add_new_secret()"><i class="fa fa-plus"></i> {{'ADD_SECRET' | translate}}</button>
                    <div class='clearfix'></div>

                    <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                        <tr>
                            <th>{{'TITLE' | translate}}</th>
                            <th>{{'ID' | translate}}</th>
                            <th>{{'DELETE' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="secret in secrets.data">
                            <td>{{ secret.name }}</td>
                            <td><input type="text" ng-model="secret.secret_id" class="form-control" readonly></td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="remove_secret(secret)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
        <button class="btn btn-primary" type="submit" ng-click="submitted=true;save()">{{'SAVE' | translate}}</button>
    </div>
</form>