<form name="modalShowRecoverycodeForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'IMPORT_GPG_KEY' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && newMailKeyForm.title.$invalid]">
            <input type="text" name="title" class="form-control" id="keyTitle" placeholder="{{'TITLE_TO_IDENTIFY_THIS_KEY' | translate}}" ng-model="data.title" required>
            <p class="help-block" ng-show="submitted && newMailKeyForm.name.$error.required">{{'TITLE_IS_REQUIRED' | translate}}</p>
        </div>
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && newMailKeyForm.passphrase.$invalid]">
            <input type="password" name="passphrase" class="form-control" id="keyPassphrase" placeholder="{{'YOUR_KEYS_PASSPHRASE' | translate}}" ng-model="data.passphrase">
        </div>
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && newMailKeyForm.public_key.$invalid]">
            <textarea class="form-control"
                      placeholder="{{'YOUR_PUBLIC_GPG_KEY' | translate}} -----BEGIN PGP PUBLIC KEY BLOCK----- and -----END PGP PUBLIC KEY BLOCK-----"
                      ng-model="data.public_key" required></textarea>
            <p class="help-block" ng-show="submitted && newMailKeyForm.public_key.$error.required">{{ YOUR_PUBLIC_GPG_KEY_IS_REQUIRED }}</p>
        </div>
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && newMailKeyForm.private_key.$invalid]">
            <textarea class="form-control"
                      placeholder="{{'YOUR_PRIVATE_GPG_KEY' | translate}} -----BEGIN PGP PRIVATE KEY BLOCK----- and -----END PGP PRIVATE KEY BLOCK-----"
                      ng-model="data.private_key" required></textarea>
            <p class="help-block" ng-show="submitted && newMailKeyForm.private_key.$error.required">{{ YOUR_PRIVATE_GPG_KEY_IS_REQUIRED }}</p>
        </div>

        <div class="form-group" ng-if="errors || msgs">
            <div class="error" ng-repeat="e in errors"><span translate="{{ e }}"></span></div>
            <div ng-repeat="e in msgs"><span translate="{{ e }}"></span></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="save();">{{'IMPORT' | translate}}</button>
        <button class="btn" type="button" ng-click="close();">{{'CANCEL' | translate}}</button>
    </div>
</form>