<form name="modalSelectUserForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{ 'USER_SELECTION' | translate }}</h3>
    </div>
    <div class="modal-body">

        <div ng-if="users">

            <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                <thead>
                <tr>
                    <th>{{'USER' | translate}}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.name | limitTo: 60 }}{{user.name.length > 60 ? '...)' : ''}}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="toggle_select(user.id, 'user')">
                            <i ng-class="selected_users.indexOf(user.id) > -1 ? 'fa fa-check-square-o' : 'fa fa-square-o'"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <button type="button" ng-click="add_user()" class="btn btn-link"><i class="fa fa-user-plus"></i> {{'SEARCH_USER' | translate}}</button>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'ABORT' | translate}}</button>
        <button class="btn btn-primary" type="submit" ng-click="save()">{{'SAVE' | translate}}</button>
    </div>
</form>