<!DOCTYPE html>
<html ng-app="passwordManagerApp" class="datastore">
<head>
    <title>Datastore</title>
    <meta charset="utf-8">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.min.js"></script>
    <script src="js/lib/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="css/opensans.css" />
    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/lib/angular-snap.css" rel="stylesheet">
    <link href="css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="css/lib/angular-tree-view.css" rel="stylesheet">
    <link href="css/lib/angular-dashboard-framework.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/datastore.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">

<div ng-if="loggedin">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="img/logo-inverse.png" height="100%">
                </a>
            </div>
        </div>
    </nav>

    <div snap-drawer class="dark">
        <h2>Navigation</h2>
        <ul class="navigations">
            <li ng-class="getClass('/')"><a href="#">Home</a></li>
            <li ng-class="getClass('/test')"><a href="#/test">Test</a></li>
        </ul>
        <h2>More</h2>
        <ul class="navigations">
            <li ><a href="https://www.sanso.pw/premium">Get Premium</a></li>
            <li><a href="https://www.sanso.pw/help" target="_blank">Help</a></li>
            <li><a href="https://www.sanso.pw/about" target="_blank">About</a></li>
        </ul>
    </div>

    <div snap-content>
        <div ng-view ng-style="{ 'width' : snap_content_with }"></div>
    </div>



    <footer></footer>
    <!--
    <form name="searchForm">
        <div class="form-group">
            <input id="datastoresearch" name="datastoresearch" class="form-control" ng-model="datastore.search"
                   placeholder="Search datastore...">
        </div>
        <hr>
        <ul class="navigations">
            <li ng-repeat="searchEntry in searchArray | filter:filterBySearch">
                <a href="http://www.google.com">{{ searchEntry }}</a>
            </li>
        </ul>

        <ul class="navigations" ng-if="!datastore.search">
            <li><a href="datastore.html" target="_self">Open Datastore</a></li>
            <li><a href="/help" target="_blank">Help</a></li>
            <li><a href="/about" target="_blank">About</a></li>
        </ul>

        <hr>

        <div class="btn-group">
            <button ng-click="logout()" type="submit" class="btn btn-danger">Logout</button>
        </div>
    </form>
    -->
</div>
<div ng-if="!loggedin">
    <!-- Not logged in, show the login form -->
    <div class="wrapper">

        <div class="loginbox dark">
            <img src="img/logo.png" id="logo">

            <form name="loginForm">
                <div class="form-group">
                    <input type="email" class="form-control" id="loginEmail" placeholder="E-Mail" ng-model="loginFormEmail" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginFormPassword" required>
                </div>

                <div class="btn-group">
                    <button ng-click="login(loginFormEmail, loginFormPassword)" type="submit" class="btn btn-danger">Login</button>
                </div>
                <a href="">Register</a>
                <span ng-repeat="e in errors">{{e}}</span>

            </form>
        </div>
    </div>
</div>


<!-- Start of scripts -->
<script src="js/lib/nacl_factory.js" type="text/javascript"></script>
<script src="js/lib/scrypt.js" type="text/javascript"></script>
<script src="js/lib/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/lib/snap.min.js" type="text/javascript"></script>
<script src="js/lib/jquery.ui.js"></script>
<script src="js/lib/sortable.js" type="application/javascript"></script>

<!-- Angular Juju -->
<script src="js/lib/angular.js" type="application/javascript"></script>
<script src="js/lib/angular-route.js" type="application/javascript"></script>
<script src="js/lib/angular-local-storage.min.js" type="application/javascript"></script>
<script src="js/lib/angular-snap.min.js" type="application/javascript"></script>
<script src="js/lib/ui-bootstrap-tpls-0.13.4.min.js" type="application/javascript"></script>
<script src="js/lib/angular-tree-view.js"></script>
<script src="js/lib/angular-dashboard-framework.js" type="application/javascript"></script>

<script src="js/widgets/adf-widget-datastore.js"></script>

<script src="js/main.js" type="application/javascript"></script>
<script src="addon.js" type="application/javascript"></script>

<script src="js/service/api-client.js" type="application/javascript"></script>
<script src="js/service/crypto-library.js" type="application/javascript"></script>
<script src="js/service/storage.js" type="application/javascript"></script>
<script src="js/service/manager.js" type="application/javascript"></script>
<!-- End Angular Juju -->
</body>
</html>