<!DOCTYPE html>
<html ng-app="psonocli" class="datastore">
<head>
    <title>Datastore</title>
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/manifest.json">
    <link rel="shortcut icon" href="img/favicon.ico">
    <meta name="msapplication-config" content="img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.min.js"></script>
    <script src="js/lib/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="css/lib/opensans.css" />
    <link href="css/lib/bootstrap.css" rel="stylesheet">
    <link href="css/lib/datatables.min.css" rel="stylesheet">
    <link href="css/lib/angular-snap.css" rel="stylesheet">
    <link href="css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="css/angular-tree-view.css" rel="stylesheet">
    <link href="css/lib/angular-datatables.css" rel="stylesheet">
    <link href="css/lib/datatables.bootstrap.css" rel="stylesheet">
    <link href="css/lib/angular-ui-select.css" rel="stylesheet">
    <link href="css/lib/loading-bar.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/datastore.css" rel="stylesheet">
</head>
<body>
<div  ng-controller="WrapperCtrl" ng-cloak>
<div ng-if="view === 'logged_in'" ng-controller="MainCtrl">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="img/logo-inverse.png" height="100%">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <div  class="navbar-text navbar-right">
                    <div class="signintext">Signed in as</div>
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button id="email-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            {{user_username}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="email-button">
                            <li role="menuitem"><a href="#!/account">Account</a></li>
                            <li role="menuitem"><a href="#!/settings">Settings</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>
                    <!--
                    <button type="button" class="btn btn-primary">
                        <span class="fa-stack" style="line-height:1em; height:1em; width: 1em;">
                          <i class="fa fa-envelope-o fa-stack-1x"></i>
                          <i class="fa fa-circle fa-stack-1x small-top-right ng-scope" ng-if="messages.length > 0"></i>
                          <strong class="fa-stack-1x text-primary small-top-right" ng-if="messages.length > 0">{{messages.length}}</strong>
                        </span>
                    </button>
                    -->
                </div>
            </div>
        </div>
    </nav>

    <div snap-drawer class="dark">
        <h2>Navigation</h2>
        <ul class="navigations">
            <li ng-class="get_link_state('/')"><a href="#">Home</a></li>
            <!--<li ng-class="get_link_state('/test')"><a href="#!/test">Test</a></li>-->
        </ul>
        <h2>Share Details</h2>
        <ul class="navigations">
            <li ng-class="get_link_state('/share/pendingshares')"><a href="#!/share/pendingshares">Pending Requests</a></li>
            <li ng-class="get_link_state('/share/users')"><a href="#!/share/users">Trusted Users</a></li>
        </ul>
        <h2>More</h2>
        <ul class="navigations">
            <!--<li><a href="https://www.psono.pw/help" target="_blank">Help</a></li>-->
            <li><a href="https://www.psono.com" target="_blank">About Us</a></li>
            <li><a href="privacy-policy.html" target="_blank">Privacy Policy</a></li>
        </ul>
        <div class="footer version">
            PSONO: {{ version }}
        </div>
    </div>

    <div snap-content>
        <div ng-view ng-style="{ 'width' : snap_content_with }"></div>
    </div>

</div>
<div ng-if="view === 'logged_out'" ng-controller="LoginCtrl">
    <!-- Not logged in, show the login form -->
    <div class="wrapper">

        <div class="loginbox dark">
            <img src="img/logo.png" id="logo">

            <form name="loginForm" ng-if="view === 'default'">
                <!-- default View -->
                <div ng-class="{'input-group': loginFormUsername == null || loginFormUsername.indexOf('@') == -1}">
                    <input type="text" class="form-control" id="loginUsername" placeholder="Username" ng-model="loginFormUsername" required aria-describedby="username-addon" autofocus>
                    <span class="input-group-addon" id="username-addon" ng-if="loginFormUsername == null || loginFormUsername.indexOf('@') == -1">@{{selected_server_domain}}</span>
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginFormPassword" required>
                </div>

                <div class="form-group">
                    <button ng-click="login(loginFormUsername, loginFormPassword)" type="submit" class="btn btn-danger">Login</button>
                    <a href="register.html">Register</a>
                    <span ng-repeat="e in errors" class="pull-right">{{e}}</span>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group hideinputcharakter">

                    <script type="text/ng-template" id="myPopoverTemplate.html">
                        <div class="container-fluid">
                            <p>Pick one of the servers below or enter the new url</p>
                            <ul>
                                <li ng-repeat="server in filtered_servers | limitTo:4">
                                    <a href="#" ng-click="select_server(server)">{{ server.title + ' ' + server.url }}</a>
                                </li>
                            </ul>
                        </div>
                    </script>

                    <label for="serverselection">Server: </label>
                    <input type="text" id="serverselection"
                           popover-template="'myPopoverTemplate.html'"
                           popover-trigger="focus"
                           ng-model="selected_server_url"
                           ng-change="changing(selected_server_url)"
                           class="form-control">
                </div>
            </form>

            <form name="googleAuthenticatorForm" ng-if="view === 'google_authenticator_2fa'">
                <!-- google_authenticator_2fa View -->
                <div class="form-group">
                    <input type="text" class="form-control" id="gaToken" placeholder="Google Authenticator Token"
                           ng-model="googleAuthenticatorFormGAToken" required maxlength="6" minlength="6">
                </div>

                <div class="form-group">
                    <button ng-click="ga_verify(googleAuthenticatorFormGAToken)" type="submit"
                            class="btn btn-danger">Send</button>
                    <span ng-repeat="e in errors" class="pull-right">{{e}}</span>
                    <div class="clearfix"></div>
                </div>
            </form>

            <form name="yubikeyOTPForm" ng-if="view === 'yubikey_otp_2fa'">
                <!-- yubikey_otp_2fa View -->
                <div class="form-group">
                    <input type="text" class="form-control" id="yubikeyOTPToken" placeholder="YubiKey Token"
                           ng-model="yubikeyOTPFormToken" required ng-keyup="$event.keyCode == 13 && yubikey_otp_verify(yubikeyOTPFormToken)">
                </div>

                <div class="form-group">
                    <span ng-repeat="e in errors" class="pull-right">{{e}}</span>
                    <div class="clearfix"></div>
                </div>
            </form>

            <div class="box-footer">
                <a href="lost-password.html">Lost password?</a> <a href="privacy-policy.html">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>

</div>

<!-- Start of scripts -->
<script src="js/lib/ecma-nacl.min.js" type="text/javascript"></script>
<script src="js/lib/sha512.min.js" type="text/javascript"></script>
<script src="js/lib/sha256.min.js" type="text/javascript"></script>
<!--<script src="js/lib/nacl_factory.js" type="text/javascript"></script>-->
<script src="js/lib/uuid.js" type="text/javascript"></script>
<script src="js/lib/jquery.min.js" type="text/javascript"></script>
<script src="js/lib/datatables.min.js" type="text/javascript"></script>
<script src="js/lib/snap.min.js" type="text/javascript"></script>
<script src="js/lib/jquery-ui.min.js"></script>
<script src="js/lib/sortable.min.js" type="application/javascript"></script>
<script src="js/lib/lokijs.min.js" type="application/javascript"></script>
<script src="js/lib/qrcode.min.js" type="application/javascript"></script>
<script src="js/lib/password-generator.js" type="application/javascript"></script>

<!-- Angular Juju -->
<script src="js/lib/angular.min.js" type="application/javascript"></script>
<script src="js/lib/angular-animate.min.js" type="application/javascript"></script>
<script src="js/lib/angular-touch.min.js" type="application/javascript"></script>
<script src="js/lib/angular-complexify.min.js" type="application/javascript"></script>
<script src="js/lib/loading-bar.min.js" type="application/javascript"></script>
<script src="js/lib/angular-route.min.js" type="application/javascript"></script>
<script src="js/lib/angular-sanitize.min.js" type="application/javascript"></script>
<script src="js/lib/angular-local-storage.min.js" type="application/javascript"></script>
<script src="js/lib/angular-snap.min.js" type="application/javascript"></script>
<script src="js/lib/ui-bootstrap-tpls.min.js" type="application/javascript"></script>
<script src="js/lib/ngdraggable.js" type="application/javascript"></script>
<script src="js/angular-tree-view.js"></script>
<script src="js/lib/angular-ui-select.js" type="application/javascript"></script>
<script src="js/lib/ng-context-menu.js" type="application/javascript"></script>
<script src="js/lib/angular-datatables.js" type="application/javascript"></script>

<script src="js/main.js" type="application/javascript"></script>

<script src="js/widgets/widget-datastore.js"></script>
<script src="js/widgets/widget-shareusers.js"></script>
<script src="js/widgets/widget-accept-share.js"></script>

<script src="js/service/api-client.js" type="application/javascript"></script>
<script src="js/service/helper.js" type="application/javascript"></script>
<script src="js/service/message.js" type="application/javascript"></script>
<script src="js/service/item-blueprint.js" type="application/javascript"></script>
<script src="js/service/share-blueprint.js" type="application/javascript"></script>
<script src="js/service/crypto-library.js" type="application/javascript"></script>
<script src="js/service/storage.js" type="application/javascript"></script>
<script src="js/service/account.js" type="application/javascript"></script>
<script src="js/service/settings.js" type="application/javascript"></script>
<script src="js/service/manager-base.js" type="application/javascript"></script>
<script src="js/service/manager.js" type="application/javascript"></script>
<script src="js/service/manager-widget.js" type="application/javascript"></script>
<script src="js/service/manager-datastore.js" type="application/javascript"></script>
<script src="js/service/manager-secret-link.js" type="application/javascript"></script>
<script src="js/service/manager-share-link.js" type="application/javascript"></script>
<script src="js/service/manager-secret.js" type="application/javascript"></script>
<script src="js/service/manager-share.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-password.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-user.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-setting.js" type="application/javascript"></script>
<script src="js/service/browser-client.js" type="application/javascript"></script>
<script src="js/service/password-generator.js" type="application/javascript"></script>
<script src="view/templates.js" type="application/javascript"></script>
<!-- End Angular Juju -->
</body>
</html>