<!DOCTYPE html>
<html ng-app="passwordManagerApp" class="datastore">
<head>
    <title>Datastore</title>
    <meta charset="utf-8">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.min.js"></script>
    <script src="js/lib/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="css/opensans.css" />
    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/lib/jquery.dataTables.min.css" rel="stylesheet">
    <link href="css/lib/angular-snap.css" rel="stylesheet">
    <link href="css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="css/lib/angular-tree-view.css" rel="stylesheet">
    <link href="css/lib/angular-datatables.css" rel="stylesheet">
    <link href="css/lib/datatables.bootstrap.css" rel="stylesheet">
    <link href="css/lib/angular-dashboard-framework.css" rel="stylesheet">
    <link href="css/lib/angular-ui-select.css" rel="stylesheet">
    <link href="css/lib/loading-bar.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/datastore.css" rel="stylesheet">
</head>
<body>
<div  ng-controller="WrapperController" ng-cloak>

<div ng-if="data.loggedin" ng-controller="MainController">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="img/logo-inverse.png" height="100%">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <div  class="navbar-text navbar-right">
                    Signed in as
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button id="email-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                            {{user_username}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="email-button">
                            <li role="menuitem"><a href="#/settings">Settings</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>
                    <!--
                    <button type="button" class="btn btn-primary">
                        <span class="fa-stack" style="line-height:1em; height:1em; width: 1em;">
                          <i class="fa fa-envelope-o fa-stack-1x"></i>
                          <i class="fa fa-circle fa-stack-1x small-top-right ng-scope" ng-if="messages.length > 0"></i>
                          <strong class="fa-stack-1x text-primary small-top-right" ng-if="messages.length > 0">{{messages.length}}</strong>
                        </span>
                    </button>
                    -->
                </div>
            </div>
        </div>
    </nav>

    <div snap-drawer class="dark">
        <h2>Navigation</h2>
        <ul class="navigations">
            <li ng-class="getLinkState('/')"><a href="#">Home</a></li>
            <!--<li ng-class="getLinkState('/test')"><a href="#/test">Test</a></li>-->
        </ul>
        <h2>Share</h2>
        <ul class="navigations">
            <li ng-class="getLinkState('/share/pendingshares')"><a href="#/share/pendingshares">Pending</a></li>
            <li ng-class="getLinkState('/share/users')"><a href="#/share/users">Users</a></li>
        </ul>
        <h2>More</h2>
        <ul class="navigations">
            <li><a href="https://www.psono.pw/premium">Get Premium</a></li>
            <li><a href="https://www.psono.pw/help" target="_blank">Help</a></li>
            <li><a href="https://www.psono.pw/about" target="_blank">About</a></li>
        </ul>
    </div>

    <div snap-content>
        <div ng-view ng-style="{ 'width' : snap_content_with }"></div>
    </div>

</div>
<div ng-if="!data.loggedin" ng-controller="LoginController">
    <!-- Not logged in, show the login form -->
    <div class="wrapper">

        <div class="loginbox dark">
            <img src="img/logo.png" id="logo">

            <form name="loginForm">
                <div ng-class="{'input-group': loginFormUsername == null || loginFormUsername.indexOf('@') == -1}">
                    <input type="text" class="form-control" id="loginUsername" placeholder="Username" ng-model="loginFormUsername" required aria-describedby="username-addon">
                    <span class="input-group-addon" id="username-addon" ng-if="loginFormUsername == null || loginFormUsername.indexOf('@') == -1">@{{selected_server_domain}}</span>
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginFormPassword" required>
                </div>

                <div class="form-group">
                    <button ng-click="login(loginFormUsername, loginFormPassword)" type="submit" class="btn btn-danger">Login</button>
                    <a href="#" ng-click="openTab('/data/register.html')">Register</a>
                    <span ng-repeat="e in errors" class="pull-right">{{e}}</span>
                </div>

                <div class="form-group hideinputcharakter">

                    <script type="text/ng-template" id="myPopoverTemplate.html">
                        <div class="container-fluid">
                            <p>Pick one of the servers below or enter the new url</p>
                            <li ng-repeat="server in filtered_servers | limitTo:4">
                                <a href="#" ng-click="select_server(server)">{{ server.title + ' ' + server.url }}</a>
                            </li>
                        </div>
                    </script>

                    <label for="serverselection">Server: </label>
                    <input type="text" id="serverselection"
                           popover-template="'myPopoverTemplate.html'"
                           popover-trigger="focus"
                           ng-model="selected_server_url"
                           ng-change="changing(selected_server_url)"
                           class="form-control">
                </div>

            </form>
        </div>
    </div>
</div>

</div>

<!--removeIf(firefox)-->
<!-- Start of scripts -->
<script src="js/lib/ecma-nacl.js" type="text/javascript"></script>
<script src="js/lib/sha512.js" type="text/javascript"></script>
<script src="js/lib/sha256.js" type="text/javascript"></script>
<!--<script src="js/lib/nacl_factory.js" type="text/javascript"></script>-->
<script src="js/lib/uuid.js" type="text/javascript"></script>
<script src="js/lib/jquery-2.1.4.js" type="text/javascript"></script>
<script src="js/lib/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="js/lib/snap.min.js" type="text/javascript"></script>
<script src="js/lib/jquery.ui.js"></script>
<script src="js/lib/sortable.js" type="application/javascript"></script>
<script src="js/lib/lokijs.min.js" type="application/javascript"></script>
<script src="js/lib/password-generator.js" type="application/javascript"></script>

<!-- Angular Juju -->
<script src="js/lib/angular.js" type="application/javascript"></script>
<script src="js/lib/angular-animate.js" type="application/javascript"></script>
<script src="js/lib/angular-complexify.js" type="application/javascript"></script>
<script src="js/lib/loading-bar.js" type="application/javascript"></script>
<script src="js/lib/angular-route.js" type="application/javascript"></script>
<script src="js/lib/angular-sanitize.js" type="application/javascript"></script>
<script src="js/lib/angular-local-storage.min.js" type="application/javascript"></script>
<script src="js/lib/angular-snap.min.js" type="application/javascript"></script>
<script src="js/lib/ui-bootstrap-tpls-0.13.4.min.js" type="application/javascript"></script>
<script src="js/lib/ngdraggable.js" type="application/javascript"></script>
<script src="js/lib/angular-tree-view.js"></script>
<script src="js/lib/angular-ui-select.js" type="application/javascript"></script>
<script src="js/lib/ng-context-menu.js" type="application/javascript"></script>
<script src="js/lib/angular-dashboard-framework.js" type="application/javascript"></script>
<script src="js/lib/angular-datatables.js" type="application/javascript"></script>

<script src="js/widgets/adf-widget-datastore.js"></script>
<script src="js/widgets/adf-widget-shareusers.js"></script>
<script src="js/widgets/adf-widget-accept-share.js"></script>

<script src="js/main.js" type="application/javascript"></script>
<script src="js/widgets/adf-dashboard-controller.js" type="application/javascript"></script>

<script src="js/service/api-client.js" type="application/javascript"></script>
<script src="js/service/helper.js" type="application/javascript"></script>
<script src="js/service/message.js" type="application/javascript"></script>
<script src="js/service/item-blueprint.js" type="application/javascript"></script>
<script src="js/service/share-blueprint.js" type="application/javascript"></script>
<script src="js/service/crypto-library.js" type="application/javascript"></script>
<script src="js/service/storage.js" type="application/javascript"></script>
<script src="js/service/settings.js" type="application/javascript"></script>
<script src="js/service/manager-base.js" type="application/javascript"></script>
<script src="js/service/manager.js" type="application/javascript"></script>
<script src="js/service/manager-adf-widget.js" type="application/javascript"></script>
<script src="js/service/manager-datastore.js" type="application/javascript"></script>
<script src="js/service/manager-secret-link.js" type="application/javascript"></script>
<script src="js/service/manager-share-link.js" type="application/javascript"></script>
<script src="js/service/manager-secret.js" type="application/javascript"></script>
<script src="js/service/manager-share.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-password.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-user.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-setting.js" type="application/javascript"></script>
<script src="js/service/browser-client.js" type="application/javascript"></script>
<script src="js/service/password-generator.js" type="application/javascript"></script>
<script src="view/templates.js" type="application/javascript"></script>
<!-- End Angular Juju -->
<!--endRemoveIf(firefox)-->
</body>
</html>