<!DOCTYPE html>
<html ng-app="psonocli" class="main">
<head>
    <title>Addon Window</title>
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/manifest.json">
    <link rel="shortcut icon" href="img/favicon.ico">
    <meta name="msapplication-config" content="img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.min.js"></script>
    <script src="js/lib/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="css/lib/opensans.css" />
    <link href="css/lib/bootstrap.css" rel="stylesheet">
    <link href="css/lib/datatables.min.css" rel="stylesheet">
    <link href="css/lib/angular-snap.css" rel="stylesheet">
    <link href="css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="css/angular-tree-view.css" rel="stylesheet">
    <link href="css/lib/angular-datatables.css" rel="stylesheet">
    <link href="css/lib/datatables.bootstrap.css" rel="stylesheet">
    <link href="css/lib/angular-dashboard-framework.css" rel="stylesheet">
    <link href="css/lib/angular-ui-select.css" rel="stylesheet">
    <link href="css/lib/loading-bar.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body class="dark">
<div ng-controller="WrapperCtrl" ng-cloak id="panel">

<div ng-if="view === 'logged_in'" ng-controller="PanelCtrl">
    <form name="searchForm">
        <div class="form-group">
            <input id="datastoresearch" name="datastoresearch" class="form-control" ng-model="datastore.search"
                   placeholder="Search datastore...">
        </div>
        <hr>
        <ul class="navigations">
            <li ng-repeat="searchEntry in datastore.filteredSearcArray = (searchArray | filter:filterBySearch)">
                <a href="#" ng-click="on_item_click(searchEntry)">{{ searchEntry.name }}</a>
            </li>
            <li ng-if="datastore.filteredSearcArray.length === 0 && datastore.search !== ''">
                <a href="#" onclick="return false;">No entry found ...</a>
            </li>
        </ul>

        <ul class="navigations" ng-if="!datastore.search">
            <li><a href="#" ng-click="open_tab('index.html')">Open Datastore</a></li>
            <li><a href="#" ng-click="generate_password()">Generate Password</a></li>
            <!--<li><a href="https://www.psono.pw/help" target="_blank">Help</a></li>-->

        </ul>

        <hr>

        <div class="btn-group">
            <button ng-click="logout()" type="submit" class="btn btn-danger">Logout</button>
        </div>
    </form>
</div>
<div ng-if="view === 'logged_out'" ng-controller="LoginCtrl" class="loginbox">
    <!-- Not logged in, show the login form -->
    <img src="img/logo.png" id="logo">

    <form name="loginForm" ng-if="view === 'default'">
        <div ng-class="{'input-group': loginFormUsername == null || loginFormUsername.indexOf('@') == -1}">
            <input type="text" class="form-control" id="loginUsername" placeholder="Username" ng-model="loginFormUsername" required aria-describedby="username-addon" autofocus>
            <span class="input-group-addon" id="username-addon" ng-if="loginFormUsername == null || loginFormUsername.indexOf('@') == -1">@{{selected_server_domain}}</span>
        </div>
        <br>
        <div class="form-group">
            <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginFormPassword" required>
        </div>

        <div class="form-group">
            <button ng-click="login(loginFormUsername, loginFormPassword)" type="submit" class="btn btn-danger">Login</button>
            <a href="#" ng-click="open_tab('register.html')">Register</a>
            <span ng-repeat="e in errors" class="pull-right">{{e}}</span>
            <div class="clearfix"></div>
        </div>

        <div class="form-group hideinputcharakter">

            <script type="text/ng-template" id="myPopoverTemplate.html">
                <div class="container-fluid">
                    <p>Pick one of the servers below or enter the new url</p>
                    <ul>
                        <li ng-repeat="server in filtered_servers | limitTo:4">
                            <a href="#" ng-click="select_server(server)">{{ server.title + ' ' + server.url }}</a>
                        </li>
                    </ul>
                </div>
            </script>

            <label for="serverselection">Server: </label>
            <input type="text" id="serverselection"
                   popover-template="'myPopoverTemplate.html'"
                   popover-trigger="focus"
                   ng-model="selected_server_url"
                   ng-change="changing(selected_server_url)"
                   class="form-control">

        </div>
    </form>

    <form name="googleAuthenticatorForm" ng-if="view === 'google_authenticator_2fa'">
        <!-- google_authenticator_2fa View -->
        <div class="form-group">
            <input type="text" class="form-control" id="gaToken" placeholder="Google Authenticator Token"
                   ng-model="googleAuthenticatorFormGAToken" required maxlength="6" minlength="6">
        </div>

        <div class="form-group">
            <button ng-click="ga_verify(googleAuthenticatorFormGAToken)" type="submit"
                    class="btn btn-danger">Send</button>
            <span ng-repeat="e in errors" class="pull-right">{{e}}</span>
            <div class="clearfix"></div>
        </div>
    </form>

    <form name="yubikeyOTPForm" ng-if="view === 'yubikey_otp_2fa'">
        <!-- yubikey_otp_2fa View -->
        <div class="form-group">
            <input type="text" class="form-control" id="yubikeyOTPToken" placeholder="YubiKey Token"
                   ng-model="yubikeyOTPFormToken" required ng-keyup="$event.keyCode == 13 && yubikey_otp_verify(yubikeyOTPFormToken)">
        </div>

        <div class="form-group">
            <span ng-repeat="e in errors" class="pull-right">{{e}}</span>
            <div class="clearfix"></div>
        </div>
    </form>
</div>

</div>



<!-- Start of scripts -->
<script src="js/lib/ecma-nacl.min.js" type="text/javascript"></script>
<script src="js/lib/sha512.min.js" type="text/javascript"></script>
<script src="js/lib/sha256.min.js" type="text/javascript"></script>
<!--<script src="js/lib/nacl_factory.js" type="text/javascript"></script>-->
<script src="js/lib/uuid.js" type="text/javascript"></script>
<script src="js/lib/jquery.min.js" type="text/javascript"></script>
<script src="js/lib/datatables.min.js" type="text/javascript"></script>
<script src="js/lib/snap.min.js" type="text/javascript"></script>
<script src="js/lib/jquery-ui.min.js"></script>
<script src="js/lib/sortable.min.js" type="application/javascript"></script>
<script src="js/lib/lokijs.min.js" type="application/javascript"></script>
<script src="js/lib/qrcode.min.js" type="application/javascript"></script>
<script src="js/lib/password-generator.js" type="application/javascript"></script>


<!-- Angular Juju -->
<script src="js/lib/angular.min.js" type="application/javascript"></script>
<script src="js/lib/angular-animate.min.js" type="application/javascript"></script>
<script src="js/lib/angular-touch.min.js" type="application/javascript"></script>
<script src="js/lib/angular-complexify.min.js" type="application/javascript"></script>
<script src="js/lib/loading-bar.min.js" type="application/javascript"></script>
<script src="js/lib/angular-route.min.js" type="application/javascript"></script>
<script src="js/lib/angular-sanitize.min.js" type="application/javascript"></script>
<script src="js/lib/angular-local-storage.min.js" type="application/javascript"></script>
<script src="js/lib/angular-snap.min.js" type="application/javascript"></script>
<script src="js/lib/ui-bootstrap-tpls.min.js" type="application/javascript"></script>
<script src="js/lib/angular-dashboard-framework.js" type="application/javascript"></script>
<script src="js/lib/angular-datatables.js" type="application/javascript"></script>
<script src="js/lib/ngdraggable.js" type="application/javascript"></script>
<script src="js/angular-tree-view.js" type="application/javascript"></script>
<script src="js/lib/angular-ui-select.js" type="application/javascript"></script>
<script src="js/lib/ng-context-menu.js" type="application/javascript"></script>

<script src="js/widgets/adf-widget-datastore.js"></script>
<script src="js/widgets/adf-widget-shareusers.js"></script>
<script src="js/widgets/adf-widget-accept-share.js"></script>

<script src="js/main.js" type="application/javascript"></script>
<script src="js/widgets/adf-dashboard-controller.js" type="application/javascript"></script>

<script src="js/service/api-client.js" type="application/javascript"></script>
<script src="js/service/helper.js" type="application/javascript"></script>
<script src="js/service/message.js" type="application/javascript"></script>
<script src="js/service/item-blueprint.js" type="application/javascript"></script>
<script src="js/service/share-blueprint.js" type="application/javascript"></script>
<script src="js/service/crypto-library.js" type="application/javascript"></script>
<script src="js/service/storage.js" type="application/javascript"></script>
<script src="js/service/account.js" type="application/javascript"></script>
<script src="js/service/settings.js" type="application/javascript"></script>
<script src="js/service/manager-base.js" type="application/javascript"></script>
<script src="js/service/manager.js" type="application/javascript"></script>
<script src="js/service/manager-adf-widget.js" type="application/javascript"></script>
<script src="js/service/manager-datastore.js" type="application/javascript"></script>
<script src="js/service/manager-secret-link.js" type="application/javascript"></script>
<script src="js/service/manager-share-link.js" type="application/javascript"></script>
<script src="js/service/manager-secret.js" type="application/javascript"></script>
<script src="js/service/manager-share.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-password.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-user.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-setting.js" type="application/javascript"></script>
<script src="js/service/browser-client.js" type="application/javascript"></script>
<script src="js/service/password-generator.js" type="application/javascript"></script>
<script src="view/templates.js" type="application/javascript"></script>
<!-- End Angular Juju -->
</body>
</html>