<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Angular Tree View</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="css/lib/bootstrap.min.css" /> <!-- -->
    <link rel="stylesheet" href="css/lib/font-awesome.min.css" />
    <link href="css/lib/angular-tree-view.css" rel="stylesheet">


    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <style>
        .pointer {
            cursor: pointer;
        }
        .highlight {
            color: #fff;
            background-color: #3498db;
        }
        .expanded {
            height: 400px;
        }
        .position-fixed {
            position: fixed;
        }
    </style>

</head>

<body ng-app="Demo">
<div class="container" ng-controller="DemoController" ng-cloak>
    <h1>Tree View Example</h1>
    <h2>Normal</h2>
    <div class="row">
        <div class="span6">
            <div style="padding: 10px; border: 1px solid #aaa;">
                <ul class="breadcrumb">
                    <li ng-repeat="b in breadcrumbs" ng-class="{ active: $last }">{{ b }} <span class="divider" ng-show="!$last">/</span></li>
                </ul>
                <div>Root</div>
                <div tree-view="structure" tree-view-options="options"></div>
            </div>
        </div>
    </div>

    <h2>Non-collapsible (expanded)</h2>
    <div class="row">
        <div class="span6">
            <div style="padding: 10px; border: 1px solid #aaa;">
                <div>Root</div>
                <div tree-view="structure" tree-view-options="options2"></div>
            </div>
        </div>
    </div>

    <h2>Custom file icons</h2>
    <div class="row">
        <div class="span6">
            <div style="padding: 10px; border: 1px solid #aaa;">
                <div>Root</div>
                <div tree-view="structure" tree-view-options="options3"></div>
            </div>
        </div>
    </div>

    <br>


    <div ng-repeat="panel in panels">
        <div context-menu="contextMenuOnShow()" context-menu-close="contextMenuOnClose()"
             context-menu-margin-bottom="10"
             id="panel-{{ $index }}"
             class="panel panel-default"
             data-target="menu-{{ panel.id }}"
             ng-class="{ 'highlight': panel.highlight, 'expanded': panel.expanded }">
            <div class="panel-body">
                <strong ng-bind="panel.name"></strong>
                (Right-click anywhere within this panel)
            </div>

            <div class="dropdown position-fixed" id="menu-{{ panel.id }}">
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="pointer" role="menuitem" tabindex="1"
                           ng-click="panel.highlight = true">Select Panel {{ $index + 1 }}</a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="2"
                           ng-click="panel.highlight = false">
                            Deselect Panel  {{ $index + 1 }}
                        </a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="3"
                           ng-click="panel.expanded = true">Expand Panel {{ $index + 1 }}</a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="4"
                           ng-click="panel.expanded = false">
                            Contract Panel {{ $index + 1 }}
                        </a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="5"
                           ng-click="addPanel()">Add a panel</a>
                    </li>
                    <li>
                        <a href="https://github.com/ianwalter/ng-context-menu" role="menuitem"
                           tabindex="-1">ng-context-menu on GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="js/lib/jquery-2.1.4.js"></script>

<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-route.js"></script>
<script src="js/lib/ng-context-menu.js"></script>
<script src="js/lib/ui-bootstrap-tpls-0.13.4.min.js"></script>
<script src="js/lib/ngdraggable.js" type="application/javascript"></script>
<script src="js/lib/angular-tree-view.js"></script>
<script>
    (function () {
        var app = angular.module('Demo', ['ngTree', 'ngRoute', 'ng-context-menu']);

        app.controller('DemoController', ['$scope', function ($scope) {

            $scope.breadcrumbs = [''];

            $scope.structure = { folders: [
                { name: 'Folder 1', files: [{ name: 'File 1.jpg' }, { name: 'File 2.png' }], folders: [
                    { name: 'Subfolder 1', files: [{ name: 'Subfile 1.txt' }] },
                    { name: 'Subfolder 2' },
                    { name: 'Subfolder 3' }
                ]},
                { name: 'Folder 2' }
            ], files: [{ name: 'File 1.gif' }, { name: 'File 2.gif' }]};

            $scope.options = {
                onNodeSelect: function (node, breadcrumbs) {
                    $scope.breadcrumbs = breadcrumbs;
                }
            };

            $scope.options2 = {
                collapsible: false
            };

            var iconClassMap = {
                        txt: 'fa fa-file-text-o',
                        jpg: 'fa fa-file-image-o blue',
                        png: 'fa fa-file-image-o orange',
                        gif: 'fa fa-file-image-o'
                    },
                    defaultIconClass = 'icon-file';

            $scope.options3 = {
                fileIcon: function (file) {
                    var pattern = /\.(\w+)$/,
                            match = pattern.exec(file.name),
                            ext = match && match[1];

                    return iconClassMap[ext] || defaultIconClass;
                }
            };








            $scope.message  = 'Right click triggered';
            $scope.closeMessage = 'Context menu closed';

            $scope.panels = [
                { name: 'Panel 1', id: '17c86ee7-1b54-4284-b3b9-6300bf865c29' },
                { name: 'Panel 2', id: '9867c5d8-cfdb-4fa4-b426-159c75f2c359' },
                { name: 'Panel 3', id: 'bef5da6e-8669-44ad-99ce-b2b0b0ed6449' }
            ];

            $scope.addPanel = function() {
                $scope.panels.push({ name: 'Panel ' + ($scope.panels.length + 1) });
            };

            $scope.onRightClick = function(msg) {
                console.log(msg);
            };

            $scope.onClose = function (msg) {
                console.log(msg);
            };

            $scope.recreatePanels = function() {
                $scope.panels = angular.copy($scope.panels);
                console.log($scope.panels);
            }
        }]);

    })();
</script>
</body>
</html>


