<div data-target="menu-datastore-main" context-menu="contextMenuOnShow('menu-datastore-main')" context-menu-close="contextMenuOnClose('menu-datastore-main')" class="expand15">

    <div class="dropdown position-fixed dropdown-rightclick" id="menu-datastore-main">
    <ul class="dropdown-menu" role="menu">
            <li role="menuitem" ng-click="open_new_folder($event)"><a href="#"><i class="fa fa-folder"></i>New Folder</a></li>
            <li role="menuitem" ng-click="open_new_item($event)"><a href="#"><i class="fa fa-key"></i>New Entry</a></li>
        </ul>
    </div>
    <!--
    <div>
        <span ng-repeat="b in breadcrumbs track by $index">
            &gt; {{b}}
        </span>
    </div>
    -->

    <div tree-view="structure.data" tree-view-options="options" ng-if="structure.data.folders || structure.data.items">

    </div>

    <div ng-if="!(structure.data.folders || structure.data.items)">

        <div class="big-font-icon-and-msg">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>

            <div>No items. Right click here to create one.</div>
        </div>

    </div>
    <!--
    <pre>{{ node | json }}</pre>
    <pre>{{ structure.data | json }}</pre>
    -->
</div>