<div data-target="menu-datastore-main" context-menu="" class="expand15">
    {{ sexy }}

    <div class="dropdown position-fixed droppdown-rightclick" id="menu-datastore-main">
    <ul class="dropdown-menu" role="menu">
            <li role="menuitem" ng-click="openNewFolder($event)"><a href="#"><i class="fa fa-folder"></i>New Folder</a></li>
            <li role="menuitem" ng-click="openNewItem($event)"><a href="#"><i class="fa fa-key"></i>New Entry</a></li>
        </ul>
    </div>

    <div>
        <span ng-repeat="b in breadcrums">
            &gt; {{b}}
        </span>
    </div>


    <div tree-view="structure.data" tree-view-options="options" ng-if="structure.data.folders || structure.data.items">

    </div>

    <div ng-if="!(structure.data.folders || structure.data.items)">
        No items. Right click here to create one
    </div>
    <!--
    <pre>
    {{node}}
    </pre>
    <pre>
    {{structure.data}}
    </pre>
    -->
</div>