<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <span> <a href="#">/</a> </span>
        </div>
        <div class="title col-sm-4">
            <h1>Home</h1>
        </div>
    </div>
    index.html loaded
    <button snap-toggle="">Toggle {{snap_content_with}}</button>


    <div ng-controller="dashboardController">
        <adf-dashboard name="widgetHomeDashboard" structure="4-8" adf-model="dashboard.model" />
    </div>

</div>