<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <span> <a href="#">/</a> </span>
        </div>
        <div class="title col-sm-4">
            <h1>Home</h1>
        </div>
    </div>


    <div ng-controller="DashboardController">
        <!-- Start Datastore Widget -->
        <adf-dashboard
                name="widgetHomeDashboard"
                structure="4-8"
                editable="false"
                collapsible="false"
                maximizable="false"
                enableConfirmDelete="true"
                adf-model="dashboard.model">
        </adf-dashboard>

        <script type="text/ng-template" id="datastore.edit.html">
            <form role="form">
                <div class="form-group">
                    <label for="sample">Sample</label>
                    <input type="text" class="form-control" id="sample" ng-model="config.sample" placeholder="Enter sample" />
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="datastore.view.html">
            <div>
                <div>
                    <span ng-repeat="b in breadcrums">
                        &gt; {{b}}
                    </span>
                </div>
                <div tree-view="structure" tree-view-options="options"></div>

                {{node}}
                {{structure}}
            </div>
        </script>

        <!-- End Datastore Widget -->
    </div>

</div>