<form name="unlockOfflineCacheForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Unlock offline cache</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && unlockOfflineCacheForm.password.$invalid]">
            <input type="password" name="name" class="form-control" id="password" placeholder="Passphrase" ng-model="password" required>
            <p class="help-block" ng-show="submitted && unlockOfflineCacheForm.password.$error.required">The password is required</p>
        </div>
        <div class="form-group alert alert-danger" ng-repeat="e in errors">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="save()">Unlock</button>
        <button class="btn" type="button" ng-click="cancel();">Logout</button>
    </div>
</form>