<form name="modalHistoryForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'HISTORY' | translate}}</h3>
    </div>
    <div class="modal-body">
        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
            <thead>
            <tr>
                <th>{{'DATE' | translate}}</th>
                <th>{{'USER' | translate}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="history_item in data.history">
                <td>{{ history_item.create_date }}</td>
                <td>{{ history_item.username | limitTo:20 }}{{ history_item.username.length > 20 ? '...' : ''}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" ng-click="show_history_item(history_item)">
                        <i class="fa fa-eye"></i> {{'SHOW' | translate}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
    </div>
</form>
