<form name="modalShowRecoverycodeForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Delete Account</h3>
    </div>
    <div class="modal-body">

        <div class="alert alert-danger">
            <strong>Danger!</strong> You are about to delete your account. This action cannot be undone.
            All data will be lost!
        </div>

        <div>
            <label for="password">Your password as confirmation:</label>
            <input type="password" class="form-control" id="password" ng-model="form.password">
        </div>


        <div class="form-group alert alert-danger" ng-repeat="e in errors">
            <strong>Error:</strong> {{e}}
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="delete_account();">Delete</button>
        <button class="btn" type="button" ng-click="close();">Close</button>
    </div>
</form>