<form name="goOfflineForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'CACHING' | translate}}</h3>
    </div>
    <div class="modal-body" ng-if="state.started_load_all_datastores">
        <div class="form-group alert alert-info">
            <strong>{{'INFO' | translate}}!</strong> {{'THE_CLIENT_IS_DOWNLOADING_ALL_CONTENT' | translate}}
        </div>

        <uib-progressbar max="state.open_requests" value="state.closed_requests">
            <span style="color:white; white-space:nowrap;">{{ state.closed_requests }} / {{ state.open_requests }}</span>
        </uib-progressbar>


        <div class="form-group alert alert-danger" ng-repeat="e in errors">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e  | translate}}"></span>
        </div>
    </div>
    <div class="modal-body" ng-if="!state.started_load_all_datastores">
        <div class="form-group">
            <input type="password" name="name" class="form-control" id="password" placeholder="{{'PASSPHRASE' | translate}}" ng-model="state.password" required>
        </div>
        <div class="form-group" ng-if="state.password">
            <input type="password" name="name" class="form-control" id="password2" placeholder="{{'PASSPHRASE_REPEAT' | translate}}" ng-model="state.password_repeat" required>
        </div>
        <div class="form-group alert alert-info">
            <strong>{{'INFO' | translate}}!</strong> {{'CLIENT_STORES_SECRETS_IN_LOCAL_STORAGE' | translate}}
        </div>

        <div class="form-group alert alert-danger" ng-repeat="e in state.errors">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="approve()" type="submit" class="btn btn-primary" ng-if="!state.started_load_all_datastores">{{'APPROVE' | translate}}</button>
        <button class="btn" type="button" ng-click="cancel();">{{'CANCEL' | translate}}</button>
    </div>
</form>