<form name="modalDecryptMessageGPGForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'DECRYPT_MESSAGE' | translate}}</h3>
    </div>
    <div class="modal-body" ng-if="!data.decrypting && !data.decrypting_complete">

        <div class="form-group">
            <label>{{'ENCRYPTED_MESSAGE' | translate}}:</label>
            <textarea class="form-control"
                      placeholder="{{'ENCRYPTED_MESSAGE' | translate}}"
                      ng-model="data.message"></textarea>

        </div>

        <div class="form-group alert alert-danger" ng-repeat="e in errors">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
        </div>
        <div class="form-group">
            <button ng-click="decrypt()" type="submit-" class="btn btn-primary">{{'DECRYPT' | translate}}</button>
        </div>


    </div>

    <div class="modal-body" ng-if="data.decrypting && !data.decrypting_complete">
        <div>
            <div class="big-font-icon-and-msg">
                <i style="
                           display: inline-block;
                           font: normal normal normal 14px/1 FontAwesome;
                           text-rendering: auto;
                           font-size: 3em;
                           text-align: center;
                           animation: fa-spin 2s infinite linear;
                           vertical-align: middle;">&#xf110;</i>
                {{'DECRYPTING' | translate}}
            </div>
        </div>
    </div>

    <div class="modal-body" ng-if="data.decrypting_complete">
        <div class="form-group">
            <label>{{'DECRYPTED_MESSAGE' | translate}}:</label>
            <div class="yui3-cssreset">
                <!-- message contains potentially dangerous html content, so we are using angularjs sanitizer -->
                <div ng-if="data.decrypted_message" ng-bind-html="data.decrypted_message"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
    </div>
</form>