<!DOCTYPE html>
<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#">/other</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>Other</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix ng-scope">
            <h3 class="panel-title ng-binding ng-scope">Other</h3>
        </div>
        <div class="panel-body" style="height: auto;">
            <uib-tabset class="tabset_expand" active="active_tab">

                <uib-tab index="0" heading="Sessions" select="open_tab('sessions')">
                    <div ng-controller="SessionsCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>Sessions:</h2>
                                A list of all potential active sessions and devices can be found below.
                            </div>
                        </div>
                        <hr>
                        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th>Device</th>
                                <th>Created</th>
                                <th>Current Session</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="session in sessions">
                                <td>{{ session.device_description }}</td>
                                <td>{{ session.create_date }}</td>
                                <td>
                                    <i ng-if="session.current_session" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-if="!session.current_session" ng-click="delete_session(session.id)" >
                                        <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>

                <uib-tab index="1" heading="Data Stores" select="open_tab('data-stores')">
                    <div ng-controller="OtherDatastoreCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h2>Data stores:</h2>
                                Here you can manage all your password datastores
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <button type="submit" class="btn btn-primary btn-primary pull-right" ng-click="create_new_datastore()"><i class="fa fa-plus"></i> Create New Datastore</button>
                                <div class='clearfix'></div>
                            </div>
                        </div>
                        <hr>

                        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Default</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data_store in data_stores">
                                <td>{{ data_store.description }}</td>
                                <td>
                                    <i ng-if="data_store.is_default" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                    <i ng-if="!data_store.is_default" class="fa fa-ban" aria-hidden="true"><span style="display: none">0</span></i>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="edit_data_store(data_store)" >
                                        <i class="fa fa-wrench" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-if="!data_store.is_default" ng-click="delete_datastore(data_store)" >
                                        <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>

                <uib-tab index="2" heading="Known Hosts" select="open_tab('known-hosts')">
                    <div ng-controller="KnownHostsCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>Known Hosts:</h2>
                                Here you can manage the keys of all the servers you ever connected to.
                            </div>
                        </div>
                        <hr>

                        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th>Host</th>
                                <th>Fingerprint</th>
                                <th>Current Host</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="host in known_hosts">
                                <td class="hyphens">{{ host.url }}</td>
                                <td>{{ host.verify_key | limitTo:20 }}<span ng-if="host.verify_key.length > 20">...</span></td>
                                <td>
                                    <i ng-if="host.current_host" class="fa fa-check" aria-hidden="true"><span style="display: none">1</span></i>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="delete_known_host(host)" >
                                        <i class="fa fa-trash" aria-hidden="true"><span style="display: none">0</span></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </uib-tab>

                <uib-tab index="3" heading="Export" select="open_tab('export')">
                    <div ng-controller="ExportCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>Export:</h2>
                                Export data for an offline backup or other purposes.
                            </div>
                        </div>
                        <hr>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="export_type">
                                    Type:
                                </label>
                                <div class="col-sm-10">
                                    <select id="export_type" name="export_type" class="form-control"
                                            ng-model="export_options.selected_option"
                                            ng-init="export_options.selected_option = export_options.options[0]"
                                            ng-options="option.name for option in export_options.options">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary btn-primary" ng-click="export_datastore(export_options.selected_option.value)">Export</button>
                                </div>
                            </div>

                            <uib-progressbar max="state.open_secret_requests" value="state.closed_secret_request" ng-if="state.download_ongoing">
                                <span style="color:white; white-space:nowrap;">{{ state.closed_secret_request }} / {{ state.open_secret_requests }}</span>
                            </uib-progressbar>

                            <div class="form-group alert alert-danger" ng-repeat="e in errors">
                                <strong>Error:</strong> {{e}}
                            </div>

                            <div class="form-group alert alert-success" ng-repeat="e in msgs">
                                <strong>Success:</strong> {{e}}
                            </div>
                        </form>
                    </div>

                </uib-tab>

                <uib-tab index="4" heading="Import" select="open_tab('import')">
                    <div ng-controller="ImportCtrl">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>Import:</h2>
                                Import data from browsers or other password managers.
                            </div>
                        </div>
                        <hr>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="import_type">
                                    Type:
                                </label>
                                <div class="col-sm-10">
                                    <select id="import_type" name="import_type" class="form-control"
                                            ng-model="import_options.selected_option"
                                            ng-init="import_options.selected_option = import_options.options[0]"
                                            ng-options="option.name for option in import_options.options">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="import_type">
                                    File:
                                </label>
                                <div class="col-sm-10">
                                    <input type="file" file-reader="fileContent" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary btn-primary" ng-click="import_datastore(import_options.selected_option.value, fileContent)">Import</button>
                                </div>
                            </div>

                            <uib-progressbar max="state.open_secret_requests" value="state.closed_secret_request" ng-if="state.upload_ongoing">
                                <span style="color:white; white-space:nowrap;">{{ state.closed_secret_request }} / {{ state.open_secret_requests }}</span>
                            </uib-progressbar>

                            <div class="alert alert-danger" ng-repeat="e in errors">
                                <strong>Error:</strong> {{e}}
                            </div>

                            <div class="alert alert-success" ng-repeat="e in msgs">
                                <strong>Success:</strong> {{e}}
                            </div>
                        </form>

                        <div class="alert alert-info" ng-if="import_options.selected_option.help">
                            <strong>Instructions:</strong><br><br><span ng-bind-html="import_options.selected_option.help"></span>
                        </div>
                    </div>

                </uib-tab>
            </uib-tabset>
        </div>
    </div>

</div>