<!DOCTYPE html>
<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#">/settings</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>Settings</h1>
        </div>
    </div>

    <div class="widget panel panel-default">
        <div class="panel-heading clearfix ng-scope">
            <h3 class="panel-title ng-binding ng-scope">Configuration</h3>
        </div>
        <div class="panel-body" style="height: auto;">

            <form class="form-horizontal" role="form">
                <uib-tabset class="tabset_expand">

                    <uib-tab ng-repeat="tab in tabs" heading="{{ tab.title }}">

                        <div ng-class="{true: 'has-error'}[submitted &amp;&amp; editEntryForm[n.name].$invalid]"
                             class="form-group" ng-repeat="setting in settings"
                             ng-if="setting.tab == tab.key">

                            <label class="control-label col-sm-4 col-md-2" for="settingsForm-{{setting.key}}">{{setting.title}}</label>
                            <div class="col-sm-8 col-md-10">
                                <input type="{{setting.type}}" ng-model="setting.value"
                                       ng-required="{{setting.required}}" placeholder="{{setting.placeholder}}" id="settingsForm-{{setting.key}}"
                                       name="{{setting.key}}"
                                       class="form-control">

                                <uib-progressbar value="setting.value | complexify" ng-if="setting.complexify && (setting.value | complexify) > 0">
                                    <span complexify="setting.value"></span>%
                                    <span complexify="setting.value" type="verbal"></span>
                                </uib-progressbar>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

                <div>
                    <button class="btn btn-primary" type="button" ng-click="submitted=true; save();">Save</button>
                    <span class="error" ng-repeat="e in errors">{{e}}</span>
                    <span ng-repeat="m in msgs">{{m}}</span>
                </div>

            </form>
        </div>
    </div>

</div>