<div data-target="menu-shareusers-main" context-menu="contextMenuOnShow()" context-menu-close="contextMenuOnClose()" class="expand15">

    <div class="dropdown position-fixed droppdown-rightclick" id="menu-shareusers-main">
        <ul class="dropdown-menu" role="menu">
            <li role="menuitem" ng-click="openNewFolder($event)"><a href="#/share/users"><i class="fa fa-folder"></i>New Folder</a></li>
            <li role="menuitem" ng-click="openNewItem($event)"><a href="#/share/users"><i class="fa fa-user-plus"></i>New User</a></li>
        </ul>
    </div>

    <!--
    <div>
        <span ng-repeat="b in breadcrumbs track by $index">
            &gt; {{b}}
        </span>
    </div>
    -->

    <div tree-view="structure.data" tree-view-options="options" ng-if="structure.data.folders || structure.data.items">

    </div>

    <div ng-if="!(structure.data.folders || structure.data.items)">
        So far no friends. :( Once you share something or receive something, the users will show here
    </div>

    <pre>{{ node | json }}</pre>
    <pre>{{ structure.data | json }}</pre>

</div>