$dark-normal-color: #b1b6c1;
$dark-hightlight-color: #2dbb93;
$dark-hightlight-hover-color: #2ba880;
$dark-color: #151f2b;
$dark-background: #0f1118;
$light-background: #ebeeef;
$header-background-on-light-background: #f2f5f7;
$light-link-color: #fff; /*fbfbfc*/