@import "variables";

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans-cyrillic-ext.woff2") format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans-cyrillic.woff2") format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans-greek-ext.woff2") format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans-greek.woff2") format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans-vietnamese.woff2") format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans-latin-ext.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans-latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.psono-pw-drop {
  max-width: 100%;
  max-height: 100%;
  padding-top:12px;
  position: absolute;
  display: block;
  z-index: 2147483647 !important;

  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before {
    box-sizing: border-box;
  }

  .psono-pw-drop-content {
    position: relative;
    background: #FFF;
    padding: 2px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    a {
      color: #b1b6c1;
    }

    .psono-pw-drop-content-inner{
      position: relative;
      background-color: $dark-color;
      border: 1px solid #cdd2df;
      border-radius: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      color: $dark-normal-color;
      padding: 6px;
    }


    .psono-pw-drop-content-inner:after,
    .psono-pw-drop-content-inner:before {
      bottom: 100%;
      left: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .psono-pw-drop-content-inner:after {
      border-color: rgb(21, 31, 43);
      border-color: rgba(21, 31, 43, 0);
      border-bottom-color: #151f2b;
      border-width: 10px;
      margin-left: -10px;
    }

    .psono-pw-drop-content-inner:before {
      border-color: rgb(186, 186, 186);
      border-color: rgba(186, 186, 186, 0);
      border-bottom-color: #fff;
      border-width: 13px;
      border-radius: 2px;
      margin-left: -13px;
    }
  }
  .navigations {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      margin-top: 1px;
      border-radius: 4px;
    }

    li a {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      width: 100%;
    }

    li:hover {
      background-color: $light-link-color;
      color: $dark-color;
    }

    li:hover a {
      color: $dark-color;
    }

    li.active {
      background-color: $dark-hightlight-color;
    }

    li.active a {
      color: $light-link-color;
    }
  }

}