@import "variables";

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-width: 300px;
  background-color: $dark-background;
  margin: 0;
  padding: 0;
}


h1, h2 {
  font-size: 20px;
  margin: 0;
}

#logo {
  margin-bottom: 10px;
}

.navigations {
  list-style-type: none;
  padding:0;
  margin:0;

  li {
    margin-top: 1px;
    border-radius: 4px;
  }
  li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%;
  }
}

.hideinputcharakter {
  label {
    font-weight: inherit;
    width: 45px;
  }
  .form-control {
    width: 250px;
    display: inline-block;
  }
  .form-control:not(:focus) {
    background-color: transparent;
    border: 0;
    color: inherit;
    box-shadow: none !important;
  }
}

.dark {
  background-color: $dark-color;
  color: $dark-normal-color;

  a {
    color: $dark-normal-color;
  }

  h2 {
    padding: 10px 10px;
  }

  .btn-danger {
    background-color: $dark-hightlight-color;
    border-color: $dark-hightlight-color;
  }

  .form-control:focus {
    border-color: $dark-hightlight-color;
  }
  .navigations {
    li:hover {
      background-color: $light-link-color;
      color: $dark-color;
      a {
        color: $dark-color;
      }
    }
    li.active {
      background-color: $dark-hightlight-color;
      a {
        color: $light-link-color;
      }
    }
  }

}

.tree::before {
  bottom: 23px;
  border-color: $tree-dots-color;
  top:0;
}

.tree {
  overflow-x: visible;
  overflow-y: visible;

  .tree-item.selected,
  .tree-folder .tree-folder-header.selected{
    background-color: inherit;
    border-color: #fff;
    border-radius: 4px;
  }

  .tree-folder .tree-folder-header.selected:hover,
  .tree-item.selected:hover {
    background-color: #F0F7FC;
    border-radius: 4px;
  }

  .tree-folder::before,
  .tree-item::before {
    border-top-color: $tree-dots-color;
    top: 21px;

  }
  .tree-item,
  .tree-folder .tree-folder-header {
    height: 34px;
    line-height: 34px;
    padding-right: 50px;
    color: $tree-fonts-color;
    a {
      color: $tree-fonts-color;
    }
  }

  .tree-item,
  .tree-folder .tree-folder-title {
    position: relative;
  }
  .node-dropdown {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .droppdown-rightclick {
    margin-left: -265px;
    margin-top: -50px;
    z-index: 20;
  }

  .dropdown-button-menu {
    right: 0;
    left: auto;
  }
  .dropdown-menu {
    .fa {
      margin-right: 10px;
      width: 15px;
    }
  }

  .tree-folder .tree-folder-content:before {
    top: -9px;
    bottom: 23px;
    left: -14px;
    border-color: $tree-dots-color;
  }
}


.position-fixed {
  position: fixed;
}

/* CSS fix for angular-ui explained here: https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }